<header
  class="sticky top-0 flex items-center space-between bg-white p-2 w-full border-b border-gray-200"
>
  <p class="ml-auto mr-2 text-sm">Session:
    <em id="sessionId">{{sessionId}}</em>
  </p>
</header>
