<header
  class="sticky top-0 flex items-center space-between bg-midnight p-2 w-full border-b border-dusk"
>
  <p class="ml-auto mr-2 text-sm text-dusk-30">User ID:
    <em id="sessionId" class="font-secondary text-xs text-dusk-10">{{userId}}</em>
  </p>
</header>
