<div id="instructions" class="flex w-full items-center flex-col">
    <section class="flex w-full flex-col items-center justify-center">
        <p class="mt-4 text-xl text-dusk-10">
          {{instructions}}
        </p>
    </section>
    {{#if progress}}
    <progress id="main-progress" class="w-full"></progress>
    {{/if}}
</div>
