<section
  hx-swap-oob="outerHTML:#messages"
  id="messages"
  class="flex w-full flex-grow flex-col items-center justify-center"
>
  {{#if placeholder}}
    <p id="placeholder" class="mt-4 text-xl">How can I assist you today?</p>
  {{/if}}
</section>