<div class="absolute bottom-4 right-4">
    <button
        id="viewLogs"
        type="button"
        class="px-4 py-2 border border-dusk-90 rounded-[5px] bg-dusk hover:bg-dusk-90 active:bg-dusk text-dusk-30 hover:text-white text-sm font-medium transition-colors"
    >
    Logs
    </button>
</div>
