<div class="absolute bottom-4 right-4">
    <button
        id="viewLogs"
        type="submit"
        class="px-4 py-2 border border-gray-600 rounded bg-gray-700 hover:bg-gray-600 text-gray-100"
    >
    🗈
    </button>
</div>
