<div class="absolute bottom-4 right-4">
    <button
        id="viewLogs"
        type="submit"
        class="px-4 py-2 border border-dusk-90 rounded bg-dusk hover:bg-dusk-90 text-dusk-10 text-sm font-medium"
    >
    Logs
    </button>
</div>
