<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Redis Chat</title>
    <link rel="icon" href="https://redis.io/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="icon" href="https://redis.io/icon.png?306aa16e3a9db3c0" type="image/png" sizes="1028x1028">
    <link rel="apple-touch-icon" href="https://redis.io/apple-icon.png?b1dad6ebc6bf461a" type="image/png" sizes="180x180">
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"
      integrity="sha384-t4DxZSyQK+0Uv4jzy5B0QyHyWQD2GFURUmxKMBVww9+e2EJ0ei/vCvv7+79z0fkr"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.2"
      integrity="sha384-0RHpPqZ4QLJXG/ALtieEL/G+NuAI98LYSkT9s6FgciveUhAdo/6wab5NU1tm2Bxs"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@catppuccin/highlightjs@1.0.1/css/catppuccin-mocha.css">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"
    ></script>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/events.js"></script>
    <script src="/log.js"></script>
    <script src="/highlight.js"></script>
  </head>
  <body class="h-screen bg-gray-900">

    {{{body}}}

  </body>
</html>
