<html>
  <head>
    <meta charset="utf-8" />
    <title>Redis RAG</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .htmx-request {
        opacity: 0.5;
      }
    </style>
    {{#if isDev}}
    <script type="application/javascript">
        const ws = new WebSocket(
          "/log",
        );

        ws.onmessage = (ev) => {
            const { level, message, meta } = JSON.parse(ev.data);

            console.log(`${level.toUpperCase()}: ${message}`);
            if (meta) {
                console.log('Meta:', meta);
            }
        }
    </script>
    {{/if}}
  </head>
  <body class="h-screen bg-gray-500" hx-boost="true">

    {{{body}}}

  </body>
</html>
