<div class="flex h-full w-full">
    {{> sidebar/sidebar}}
    <main class="flex-1 flex flex-col h-full w-full bg-white overflow-y-scroll">
        {{> header}}
        {{> chat/chat}}
    </main>
</div>
