{{!-- A sidebar that allows creating new threads and switching to past threads --}}
<nav class="flex flex-col bg-midnight h-full w-64 border-r border-dusk p-4">
  <div class="flex items-center gap-2 mb-6">
    <img src="/redis-logo.svg" alt="Redis" class="h-6" />
    <span class="font-secondary text-xs tracking-widest text-dusk-30 uppercase">Chat</span>
  </div>
  <ul class="my-2 list-none">
    <li class="truncate cursor-pointer rounded hover:bg-dusk-90 active:bg-dusk">
        <form ws-send hx-disabled-elt="this" class="block w-full">
            <input type="hidden" name="cmd" value="chats/new" />
            <button type="submit" class="block w-full p-2 text-left text-dusk-30 hover:text-white font-medium text-sm">
            + New chat
            </button>
        </form>
    </li>
  </ul>
  <p class="font-secondary text-xs tracking-wider text-dusk-50 my-2 uppercase">Chats</p>
  <ul id="sidebarChats">
    {{> chat/sidebar/chats}}
  </ul>
  <div class="grow"></div>
  <ul class="list-none border-t border-dusk pt-3">
      <li class="cursor-pointer">
          <form ws-send hx-disabled-elt="this" hx-on:submit="setTimeout(location.reload.bind(location), 500)" class="block w-full">
              <input type="hidden" name="cmd" value="users/new" />
              <button type="submit" class="block w-full p-2 text-left text-dusk-30 hover:text-white hover:bg-dusk-90 active:bg-dusk rounded text-xs">
                  + New user
              </button>
          </form>
      </li>
      <li class="cursor-pointer">
          <form ws-send hx-disabled-elt="this" hx-on:submit="setTimeout(location.reload.bind(location), 500)" class="block w-full">
              <input type="hidden" name="cmd" value="data/clear" />
              <button type="submit" class="block w-full p-2 text-left text-hyper-04 hover:text-white hover:bg-hyper-09 active:bg-hyper-10 rounded text-xs">
                  Reset user
              </button>
          </form>
      </li>
  </ul>
</nav>
