{{!-- A sidebar that allows creating new threads and switching to past threads --}}
<nav class="flex flex-col bg-gray-100 h-full w-64 border-r border-gray-200 p-4">
  <h2 class="text-lg font-semibold mb-4">Redis Chat</h2>
  <ul class="my-2">
    <li class="truncate cursor-pointer rounded hover:bg-gray-200 active:bg-gray-300">
        <form ws-send hx-disabled-elt="this" class="block w-full">
            <input type="hidden" name="cmd" value="new_chat" />
            <button type="submit" class="block w-full p-2 text-left text-gray-600">
            + New chat
            </button>
        </form>
    </li>
  </ul>
  <p class="text-md text-gray-500 my-2">Chats</p>
  {{> sidebar/chats}}

  <div class="grow"></div>
  <ul>
      <li class="text-xs text-gray-500 cursor-pointer">
          <form ws-send hx-disabled-elt="this" hx-on:submit="setTimeout(location.reload.bind(location), 500)" class="block w-full">
              <input type="hidden" name="cmd" value="new_user" />
              <button type="submit" class="block w-full p-2 text-left text-gray-600 hover:bg-gray-200 active:bg-gray-300">
                  + New user
              </button>
          </form>
      </li>
      <li class="text-xs text-gray-500 cursor-pointer">
          <form ws-send hx-disabled-elt="this" hx-on:submit="setTimeout(location.reload.bind(location), 500)" class="block w-full">
              <input type="hidden" name="cmd" value="clear_all" />
              <button type="submit" class="block w-full p-2 text-left text-gray-600 hover:bg-gray-200 active:bg-gray-300">
                  🗑 Reset all
              </button>
          </form>
      </li>
  </ul>
</nav>
